@font-face {
  font-family: "ubunturegular";
  src: local("Ubuntu Regular"), url("../fonts/Ubuntu-regular-webfont.woff") format("woff"), url("../fonts/Ubuntu-regular-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "ubuntubold";
  src: local("Ubuntu Bold"), url("../fonts/ubuntu-bold-webfont.woff") format("woff"), url("../fonts/ubuntu-bold-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "ubuntulight";
  src: local("Ubuntu Light"), url("../fonts/Ubuntu-light-webfont.woff") format("woff"), url("../fonts/Ubuntu-light-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "ubuntumedia";
  src: local("Ubuntu Medium"), url("../fonts/Ubuntu-medium-webfont.woff") format("woff"), url("../fonts/Ubuntu-medium.woff2") format("woff2"); }

@font-face {
  font-family: "ubuntuitalic";
  src: local("Ubuntu Italic"), url("../fonts/Ubuntu-italic-webfont.woff") format("woff"), url("../fonts/Ubuntu-italic-webfont.woff2") format("woff2"); }

.page-body {
  background-color: #939393;
  font-family: "ubunturegular"; }
  .page-body h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #0070b8;
    font-family: "ubuntubold"; }
  .page-body h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
    color: #777b85;
    font-family: "ubuntumedia"; }
  .page-body a {
    text-decoration: none; }
  .page-body img {
    max-width: 100%;
    height: auto; }

.wrapper {
  width: 1920px;
  margin: 0 auto;
  background-color: #fbfdff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); }

.container {
  width: 1170px;
  margin: 0 auto;
  background: transparent;
  position: relative; }
  .container::after {
    content: '';
    display: table;
    clear: both; }

.container-inner {
  width: 1033px;
  margin: 0 auto;
  background: transparent; }

.main-header {
  background: url("../img/bg-header.jpg") no-repeat;
  padding-top: 42px;
  padding-bottom: 308px;
  position: relative; }
  .main-header::after {
    content: '';
    display: table;
    clear: both; }

.main-header__logo img {
  position: absolute;
  top: 0;
  width: 289px;
  height: 45px; }

.main-header__title {
  margin: 0;
  padding: 0;
  margin-top: 144px;
  margin-left: 58px;
  width: 720px; }

.main-header__descr {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444a5a;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: 58px;
  width: 545px; }

.main-header__prev,
.main-header__next {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%; }

.main-header__prev {
  top: 387px;
  left: 95px; }

.main-header__prev::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 22px;
  width: 5px;
  height: 5px;
  border-left: 2px solid #222222;
  border-bottom: 2px solid #222222;
  transform: rotate(45deg); }

.main-header__next {
  top: 387px;
  left: 1788px; }

.main-header__next::after {
  content: '';
  position: absolute;
  top: 21px;
  left: 22px;
  width: 5px;
  height: 5px;
  border-left: 2px solid #222222;
  border-bottom: 2px solid #222222;
  transform: rotate(-125deg); }

.main-nav {
  margin-left: 410px;
  min-height: 40px; }
  .main-nav::after {
    content: '';
    display: table;
    clear: both; }
  .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0; }
  .main-nav li {
    padding-top: 16px;
    padding-bottom: 13px;
    display: inline-block;
    margin-right: 38px;
    vertical-align: top; }
  .main-nav a {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #444a5a;
    font-family: "ubuntulight";
    text-transform: lowercase; }

.main-nav__phone {
  font-size: 16px;
  line-height: 14px;
  font-weight: 700;
  color: #ff0096;
  font-family: "ubuntubold";
  float: right;
  text-align: center;
  width: 180px;
  padding: 0;
  margin: 0;
  margin-right: -23px;
  margin-top: -40px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 3px solid #ff0096;
  border-radius: 1px; }

.form-price-1 {
  background: url("../img/bg-price.jpg") no-repeat;
  box-shadow: 0 0 65px rgba(60, 108, 222, 0.25);
  position: absolute;
  top: -108px;
  width: 100%; }

.form-price-1__title {
  padding-top: 38px;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #7c99d6;
  font-family: "ubuntubold"; }

.form-price-1__label {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #444a5a;
  font-family: "ubuntubold"; }

.form-price-1__input {
  border: none;
  border: 2px solid #e7efff;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(68, 74, 90, 0.3);
  font-family: "ubunturegular";
  margin-bottom: -7px; }

.form {
  padding: 0;
  margin: 0;
  padding-bottom: 63px;
  position: relative; }

.form__title {
  display: block;
  text-transform: uppercase;
  text-align: center; }

.form__label {
  display: inline-block;
  vertical-align: top;
  margin-left: 68px;
  text-align: left; }

.form__label:nth-of-type(2) {
  margin-left: 170px; }

.form__label span {
  display: block;
  padding-bottom: 21px; }

.form__input {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
  border-radius: 4px;
  outline: none; }

.form__btn {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "ubuntubold"; }

.form__btn--pink {
  position: absolute;
  top: 212px;
  left: 488px;
  padding: 11px 40px;
  background-color: #e6007d;
  box-shadow: 0 0 24px rgba(230, 0, 125, 0.32);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff; }

.form__btn--order {
  border: 2px solid #7c99d6;
  padding: 5px 27px;
  border-radius: 1px;
  text-transform: lowercase;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #7c99d6;
  font-family: "ubuntubold"; }

.form__btn--white {
  position: absolute;
  top: 201px;
  left: 488px;
  padding: 10px 36px;
  background-color: #ffffff;
  box-shadow: 0 0 29px rgba(230, 0, 125, 0.32);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #e6007d; }

.form__btn--blue {
  position: absolute;
  top: 672px;
  left: 480px;
  background-color: #0070b8;
  padding: 11px 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0 0 29px rgba(17, 162, 255, 0.23); }

.resources {
  margin-top: -15px;
  position: relative; }

.resources__title {
  position: absolute;
  top: 20px;
  left: 260px;
  width: 650px;
  text-align: center;
  font-size: 35px 45px;
  line-height: 500;
  font-weight: #777b85;
  color: #777b85;
  font-family: "ubuntumedia"; }

.resources__list {
  margin-top: 112px; }

.resources__item {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin-right: 30px;
  text-align: center; }

.resources__item p {
  padding: 22px 20px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #777b85; }

.resources__item:last-child {
  margin-right: 0; }

.resources__point {
  display: block;
  text-align: center;
  text-transform: uppercase; }

.num {
  font-size: 141px;
  line-height: 182px;
  font-weight: 500;
  color: #f0f4fb;
  font-family: "ubuntumedia";
  display: block;
  text-align: center; }

.num--discount {
  display: block;
  text-align: left;
  font-size: 94px;
  line-height: 94px;
  font-weight: 600;
  color: rgba(0, 112, 184, 0.1);
  font-style: italic; }

.benefit {
  margin-top: 125px;
  position: relative; }
  .benefit::after {
    content: '';
    display: table;
    clear: both; }

.benefit__num {
  text-align: left; }

.benefit__title {
  position: absolute;
  top: 42px;
  font-size: 35px 45px;
  line-height: 500;
  font-weight: #777b85;
  color: #777b85;
  font-family: "ubuntumedia"; }

.benefit__left {
  float: left;
  width: 573px; }

.benefit__right {
  float: right;
  margin-top: -80px;
  width: 570px; }

.benefit__img {
  width: 570px;
  height: 481px; }

.benefit__description {
  padding: 0;
  margin: 0;
  margin-top: -15px;
  width: 570px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #777b85; }

.benefit__description--border {
  border: 2px solid #0070b8;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #0070b8;
  width: 550px; }

.benefit__description--bottom {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 442px; }
  .benefit__description--bottom::after {
    content: '';
    display: table;
    clear: both; }

.statistic {
  margin-top: 88px;
  position: relative; }

.statistic__title {
  position: absolute;
  top: 40px;
  left: 443px;
  font-size: 35px 45px;
  line-height: 500;
  font-weight: #777b85;
  color: #777b85;
  font-family: "ubuntumedia"; }

.statistic__point {
  border: 3px solid #7c99d6;
  text-transform: uppercase;
  padding-left: 307px;
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative; }

.statistic__point--site {
  padding-top: 40px;
  padding-bottom: 55px; }

.statistic__point--active {
  border-color: #0070b8; }

.statistic__point--channels {
  margin-top: 45px; }

.statistic__point span {
  display: block;
  width: 385px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #7c99d6;
  font-family: "ubuntubold"; }

.statistic__point--active span {
  color: #0070b8; }

.statistic__open {
  position: absolute;
  top: 59px;
  left: 1130px;
  display: block;
  font-size: 0;
  width: 6px;
  height: 6px;
  border-left: 2px solid #7c99d6;
  border-bottom: 2px solid #7c99d6;
  transform: rotate(-45deg); }

.statistic__point--active .statistic__open {
  border-color: #0070b8; }

.statistic__point--radio {
  border-bottom: none; }

.statistic__content {
  background-color: #f7fafd; }
  .statistic__content::after {
    content: '';
    display: table;
    clear: both; }

.statistic__title-content {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #777b85;
  font-family: "ubuntubold";
  display: block; }

.statistic__description {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #777b85; }

.statistic__audience {
  padding-top: 70px; }
  .statistic__audience::after {
    content: '';
    display: table;
    clear: both; }

.statistic__audience-left {
  float: left;
  width: 470px; }

.statistic__audience-right {
  float: right;
  width: 460px;
  margin-top: -15px; }

.statistic__amount {
  float: right;
  width: 230px; }

.statistic__amount:last-child {
  margin-left: -43px;
  width: 240px;
  margin-right: 30px; }

.statistic__amount b {
  font-size: 54px;
  line-height: 54px;
  font-weight: 700;
  color: #0070b8;
  font-family: "ubuntubold"; }

.statistic__channels {
  padding-top: 100px; }
  .statistic__channels::after {
    content: '';
    display: table;
    clear: both; }

.statistic__channels-left {
  float: left;
  width: 470px; }

.statistic__channels-right {
  float: right;
  width: 460px;
  margin-top: -15px; }

.statistic__structure {
  padding-top: 70px; }

.statistic__structure .statistic__title-content {
  display: block;
  margin-bottom: -8px; }

.statistic__structure .statistic__description {
  line-height: 38px; }

.statistic__charts::after {
  content: '';
  display: table;
  clear: both; }

.statistic__channel {
  position: relative; }

.statistic__channel--dom {
  float: left;
  width: 533px;
  margin-top: 37px; }

.statistic__channel--vost {
  float: right;
  width: 474px;
  margin-top: 37px; }

.statistic__channel span {
  display: inline-block;
  vertical-align: top; }

.statistic__right {
  padding-left: 133px;
  margin-right: 65px;
  padding-top: 88px;
  position: relative; }

.statistic__right::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 114px;
  height: 114px; }

.statistic__right:nth-of-type(1)::before {
  background: url("../img/chart-1.png") no-repeat; }

.statistic__right:nth-of-type(2)::before {
  background: url("../img/chart-2.png") no-repeat; }

.statistic__right:nth-of-type(2) {
  margin-right: 0; }

.statistic__channel--dom .statistic__right:nth-of-type(2) {
  margin-top: -18px; }

.statistic__channel--dom .statistic__right:nth-of-type(2)::before {
  top: 53px; }

.statistic__channel--vost .statistic__right:nth-of-type(2) {
  margin-top: -30px; }

.statistic__channel--vost .statistic__right:nth-of-type(2)::before {
  top: 65px; }

.statistic__right::after {
  content: "19%";
  top: 84px;
  left: 40px;
  position: absolute;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #a1b8d1; }

.statistic__right:nth-of-type(2)::after {
  content: "51%";
  color: #0288de; }

.statistic__channel--dom .statistic__right:nth-of-type(2)::after {
  top: 100px; }

.statistic__channel--vost .statistic__right:nth-of-type(2)::after {
  top: 110px; }

.statistic__bottom {
  padding-top: 124px;
  position: relative;
  margin-right: 148px;
  margin-top: 88px; }

.statistic__bottom:nth-of-type(4) {
  margin-right: 0; }

.statistic__bottom::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 114px;
  height: 114px; }

.statistic__bottom:nth-of-type(3)::before {
  background: url("../img/chart-3.png") no-repeat; }

.statistic__bottom:nth-of-type(4)::before {
  background: url("../img/chart-4.png") no-repeat; }

.statistic__sex-age {
  position: absolute; }

.statistic__sex-age--1 {
  top: 177px;
  left: 41px; }

.statistic__sex-age--2 {
  top: 177px;
  left: 290px; }

.statistic__top {
  margin-top: 90px; }

.statistic__table {
  margin-top: 62px;
  width: 100%; }

.statistic__table tr {
  border-bottom: 2px solid #a1b8d1; }

.statistic__table td {
  padding-top: 5px;
  padding-bottom: 5px; }

.statistic__table td:first-child {
  padding-left: 62px; }

.statistic__table td:last-child {
  padding-right: 58px;
  padding-left: 46px; }

.statistic__table td:nth-child(2) {
  padding-left: 92px;
  width: 142px; }

.statistic__table td:nth-child(4) {
  padding-left: 30px; }

.statistic__row-active {
  background-color: #deecf6; }

.statistic__range {
  margin-top: 100px; }

.statistic__weekdays {
  margin-top: 110px;
  padding-bottom: 88px; }

.statistic__weekdays .statistic__title-content {
  padding-bottom: 34px; }

.form-price-2 {
  margin-top: 151px;
  background: url("../img/bg-price-2.jpg") no-repeat;
  width: 100%;
  box-shadow: 0 0 65px rgba(230, 24, 136, 0.44); }
  .form-price-2 span {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff; }

.form-price-2__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 21px; }

.form-price-2__input {
  border: none; }

.discounts {
  margin-top: 86px;
  position: relative; }

.discounts__title {
  position: absolute;
  top: 40px;
  left: 350px; }

.discounts__item {
  margin-top: 39px;
  padding-top: 38px;
  padding-left: 18px;
  padding-right: 20px;
  padding-bottom: 75px;
  display: inline-block;
  vertical-align: top;
  width: 330px;
  margin-right: 28px;
  background-color: #f0f4fb;
  position: relative; }

.discounts__item:nth-of-type(3) {
  margin-right: 0; }

.discounts__item--active {
  background-color: #ffffff;
  box-shadow: 0 0 39px rgba(60, 108, 222, 0.26); }

.discounts__value {
  position: absolute;
  top: 11px;
  left: 232px;
  font-size: 50px;
  line-height: auto;
  font-weight: 700;
  color: #eb7abc;
  font-family: "ubuntubold"; }

.discounts__item b {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #0070b8;
  font-family: "ubuntubold";
  text-transform: uppercase;
  position: absolute;
  width: 220px;
  top: 90px;
  left: 35px; }

.discounts__description {
  padding: 0;
  margin: 0;
  padding-top: 50px;
  padding-left: 17px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #777b85; }

.discounts__point {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #777b85;
  margin: 0;
  padding-left: 17px; }

.discounts__point:nth-of-type(2) {
  margin-top: 80px; }

.discounts__item--active .discounts__point:nth-of-type(2) {
  margin-top: 60px; }

.discounts__bold {
  font-weight: 700px;
  font-family: "ubuntubold"; }

.reviews {
  position: relative;
  margin-top: 96px; }

.reviews__title {
  position: absolute;
  top: 40px;
  left: 890px; }

.reviews__item {
  display: none;
  padding-top: 30px;
  padding-bottom: 76px;
  text-align: center; }

.reviews__toggles {
  position: absolute;
  top: 400px;
  left: 48%; }

.reviews__content {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #777b85;
  font-family: "ubuntubold";
  padding-left: 215px;
  padding-right: 215px; }

.reviews__author {
  margin-top: 5px;
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #777b85; }

.reviews__author-data {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #777b85;
  font-style: italic; }

.reviews__next, .reviews__prev {
  position: relative; }

.reviews__next::before,
.reviews__prev::before {
  content: '';
  position: absolute;
  top: 218px;
  width: 4px;
  height: 4px;
  border-left: 2px solid #313131;
  border-bottom: 2px solid #313131;
  cursor: pointer; }

.reviews__prev::before {
  left: 345px;
  transform: rotate(45deg); }

.reviews__next::before {
  left: 1570px;
  transform: rotate(-145deg); }

.slider__input:nth-of-type(1):checked ~ .reviews__items > .reviews__item:nth-child(1) {
  display: block; }

.slider__input:nth-of-type(2):checked ~ .reviews__items > .reviews__item:nth-child(2) {
  display: block; }

.slider__input:nth-of-type(3):checked ~ .reviews__items > .reviews__item:nth-child(3) {
  display: block; }

.slider__input:nth-of-type(4):checked ~ .reviews__items > .reviews__item:nth-child(4) {
  display: block; }

#reviews-input-1:checked ~ .slider__toggles .slider__toggle[for='reviews-input-1'] {
  background-color: #ffffff;
  border: 3px solid #777b85;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  top: -3px; }

#reviews-input-2:checked ~ .slider__toggles .slider__toggle[for='reviews-input-2'] {
  background-color: #ffffff;
  border: 3px solid #777b85;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  top: -3px; }

#reviews-input-3:checked ~ .slider__toggles .slider__toggle[for='reviews-input-3'] {
  background-color: #ffffff;
  border: 3px solid #777b85;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  top: -3px; }

#reviews-input-4:checked ~ .slider__toggles .slider__toggle[for='reviews-input-4'] {
  background-color: #ffffff;
  border: 3px solid #777b85;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  top: -3px; }

.slider {
  background: #ffffff;
  border-top: 2px solid #f5f5f6;
  position: relative; }

.slider__input {
  display: none; }

.slider__toggles {
  font-size: 0; }

.slider__toggle {
  background-color: #ffffff;
  border: 3px solid #dedede;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  top: -3px;
  margin-right: 21px;
  cursor: pointer; }

.feedback {
  margin-top: 111px;
  background: url("../img/bg-feedback.jpg") no-repeat;
  padding-top: 113px;
  padding-bottom: 100px;
  position: relative; }
  .feedback h1 {
    width: 440px; }

.feedback__form {
  position: absolute;
  top: -40px;
  left: 597px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 65px 0 rgba(60, 108, 222, 0.25);
  width: 369px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px; }

.feedback__form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #7c99d6;
  font-family: "ubuntubold";
  padding-bottom: 40px; }

.feedback__label {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #444a5a;
  font-family: "ubuntubold";
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 24px; }

.feedback__label:nth-of-type(2) {
  margin-bottom: 0; }

.feedback__input {
  border: none;
  border: 2px solid #e7efff;
  width: 307px;
  padding: 0;
  padding: 17px 29px;
  margin-top: 10px; }

.feedback__btn {
  top: 330px;
  left: 189px; }

.contacts {
  background-color: #272a31;
  padding-top: 41px;
  padding-bottom: 140px; }

.contacts__title {
  display: block;
  text-align: center;
  font-size: 35px;
  line-height: 45px;
  font-weight: 500;
  color: #ffffff;
  font-family: "ubuntumedia"; }

.contacts__item {
  display: inline-block;
  vertical-align: top;
  margin-top: 78px;
  margin-right: 114px;
  padding-left: 80px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  width: 220px; }

.contacts__item:nth-of-type(1) {
  margin-right: 100px; }

.contacts__item:nth-of-type(2) {
  width: 230px;
  margin-right: 95px;
  margin-top: 65px; }

.contacts__item:last-of-type {
  margin-right: 0; }
