@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font-setup($f, $l, $u1, $u2) {
  font-family: $f;
  src:
    local($l),
    url($u1) format('woff'),
    url($u2) format('woff2');
}

@mixin font-param($s, $l, $w, $c: #777b85) {
  font-size: $s;
  line-height: $l;
  font-weight: $w;
  color: $c;
};

@mixin review($i) {
  .slider__input:nth-of-type(#{$i}):checked ~ .reviews__items > .reviews__item:nth-child(#{$i}) {
    display: block;
  }
}

@mixin toggle($id) {
  ##{$id}:checked ~ .slider__toggles .slider__toggle[for='#{$id}'] {
    background-color: #ffffff;
    border: 3px solid #777b85;
    @include size(6px, 6px);
    border-radius: 50%;
    position:relative;
    top: -3px;
  }
}
