$font-1-local: 'Ubuntu Regular';
$font-1-fam: 'ubunturegular';
$font-1-url1: '../fonts/Ubuntu-regular-webfont.woff';
$font-1-url2: '../fonts/Ubuntu-regular-webfont.woff2';

$font-2-local: 'Ubuntu Bold';
$font-2-fam: 'ubuntubold';
$font-2-url1: '../fonts/ubuntu-bold-webfont.woff';
$font-2-url2: '../fonts/ubuntu-bold-webfont.woff2';

$font-3-local: 'Ubuntu Light';
$font-3-fam: 'ubuntulight';
$font-3-url1: '../fonts/Ubuntu-light-webfont.woff';
$font-3-url2: '../fonts/Ubuntu-light-webfont.woff2';

$font-4-local: 'Ubuntu Medium';
$font-4-fam: 'ubuntumedia';
$font-4-url1: '../fonts/Ubuntu-medium-webfont.woff';
$font-4-url2: '../fonts/Ubuntu-medium.woff2';

$font-5-local: 'Ubuntu Italic';
$font-5-fam: 'ubuntuitalic';
$font-5-url1: '../fonts/Ubuntu-italic-webfont.woff';
$font-5-url2: '../fonts/Ubuntu-italic-webfont.woff2';
