.discounts {
  margin-top: 96px;
  position: relative;
}

.discounts__title {
  position: absolute;
  top: 70px;
  left: 360px;
}

.discounts__item {
  margin-top: 29px;
  display: inline-block;
  vertical-align: top;
  width: 368px;
  margin-right: 30px;
  background-color: #f0f4fb;
  position: relative;
}

.discounts__item:nth-of-type(3) {
  margin-right: 0;
}

.discounts__item--active {
  background-color: #ffffff;
  box-shadow: 0 0 39px rgba(60, 108, 222, 0.26);
}

.discounts__value {
  position: absolute;
  top: 21px;
  left: 232px;
  @include font-param(50px, auto, 600, #e6007d);
}
