.form-price-2 {
  margin-top: 151px;
  background: url('../img/bg-price-2.jpg') no-repeat;
  width: 100%;
  box-shadow: 0 0 65px rgba(230, 24, 136, 0.44);
}

.form-price-2__title {
  padding-top: 35px;
  padding-bottom: 21px;
}

.form-price-2__input {
  border: none;
}
