.resources {
  margin-top: -15px;
  position: relative;
}

.resources__title {
  position: absolute;
  top: 20px;
  left: 260px;
  width: 650px;
  text-align: center;
  @include font-param(35px 45px, 500, #777b85);
  font-family: $font-4-fam;
}

.resources__list {
  margin-top: 112px;
}

.resources__item {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin-right: 30px;
  text-align: center;
}

.resources__item p {
  padding: 22px 20px;
  @include font-param(15px, 20px, 400, #777b85);
}

.resources__item:last-child {
  margin-right: 0;
}

.resources__point {
  display: block;
  font-size: 0;
  position: relative;
  width: 93px;
  height: 120px;
}

.resources__point::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 92px;
  background: url('../img/sprite.png') no-repeat;
}

.resources__point--tv::before {
  @include size(169px, 152px);
  background-position: -15px -961px;
}

.resources__point--radio::before {
  @include size(218px, 188px);
  background-position: -15px -181px;
  top: -49px;
  left: 76px;
}

.resources__point--site::before {
  @include size(212px, 140px);
  background-position: -15px -399px;
  top: -5px;
  left: 69px;
}
